body {
    margin-bottom: 15px; 
    background-color:   rgba(245, 221, 203, 0.1) ;
}

.container {
    margin-top: 15px;
}

.card {
    text-align: center;
    z-index: -1;
    border-width: 1px;
    margin: 15px 39px;
    display: inline-block;
}

.fa-5x {
    color: rgba(255, 111, 0, 0.6);
    margin: 10px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

.card:hover {
    border: 1px solid rgba(255, 111, 0, 0.6);
    transition: ease-in-out;
}

.social {
    text-align: center;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
}

.fa-facebook {
    color: #3b5998;
}

.fa-twitter {
    color: #00acee;
}

h5 {
    margin: 0 10px;
}

table {
    text-align: justify;
    margin: 5px auto;
}

tr {
    text-align: center;
    color:  #ff523b ;
}

td {
    vertical-align: top;
    padding: 5px;
}

/* button{
    background-color: rgba(255, 111, 0, 0.6);
} */

.btn {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background: transparent;
    /* background-color: #ff523b; */
    color: black;
    /* opacity: 1; */
    border: solid 1px;
    ;
    border-radius: 23px;
    padding: 5px 20px;
    margin-top: 20px;
    transition: background 0.6s;
}

.btn:hover {
    background-color: #ff523b;
    border-width: 1px;
    color: white;
}

/* sakshi 14-10-20 */

input:hover, textarea:hover {
    box-shadow: 0 0 10px rgba(255, 111, 0, 0.6);
    border-color: rgba(255, 111, 0, 0.6);
    /* outline: solid 10px rgba(255, 111, 0, 0.6) */
    /* border: rgba(255, 111, 0, 0.6) ; */
}

input, textarea {
    outline: none;
    border-radius: 5px;
    border-color: rgba(255, 111, 0, 0.6);
}

/*  */