
<!--Reusable componrnt for every page
Navbar section-->
<nav id="navbar">


                <ul class="menu" style="margin-top: revert;">
                    
                     <li>
                        <a href="../homepage.html"> Home </a>
            
                    </li>
            
            
                    <li>
                        <a href="#"> Organization </a>
                        <ul class="sub-menu">
                            <li><a href="../about-us.html">About Us</a></li>
                            <li><a href="../journey.html"> Journey </a></li>
                            <li><a href="../chapters.html"> Chapters </a></li>
                        </ul>
                    </li>
            
            
                    <li>
                        <a href="../events.html"> Events </a>
                    </li>
            
                    <span class="logo">
                        <a href="../homepage.html"><img src="/img/pnglogo (1).png" class="logo"></a>
                    </span>
    
                    <li>
                        <a href="#"> Gallery </a>
                        <ul class="sub-menu">
                            <li><a href="../gallery_p.html"> Photos </a></li>
                            <li><a href="../gallery_v.html"> Videos </a></li>
            
                        </ul>
                    </li>
            
            
                    <li>
                        <a href="../contact us.html"> Contact</a>
                        <ul class="sub-menu">
                            <li><a href="../contact_us_2.html"> Contact Us</a></li>
                            <li><a href="../become-a-volunteer.html#subscribe"> Subscribe </a></li>
                            <li><a href="../become-a-volunteer.html#become-a-volunteer"> Become A Volunteer </a></li>
            
                        </ul>
                    </li>
            
                    <li>
                        <a href="#"> Donate Now </a>
            
                    </li>
                </ul>
            
            </nav>

